<!DOCTYPE html>
<html lang="de" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments.html :: head('Fahrzeug verwalten')"></head>

<body th:with="k=${kfz[0]}">

    <nav th:replace="fragments.html :: mainNav"></nav>

    <div class="container mt-4">

        <h4>Fahrzeug bearbeiten</h4>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Typ</th>
                <th>Marke</th>
                <th>Kennzeichen</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${k.id}"></td>
                <td th:text="${k.fahrzeugTyp}"></td>
                <td th:text="${k.marke}"></td>
                <td th:text="${k.kennzeichen}"></td>
                <td th:text="${k.fahrzeugStatus}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row p-0 m-0">
            <div class="col-md-auto">
                <form action="" method="post">
                    <button type="" class="btn btn-secondary p-1 m-0"  disabled = "true">Bearbeiten</button>
                </form>
            </div>
            <div class="col-md-auto" >
                <form action="/delkfz" method="post">
                    <input type="hidden"  name="fahrzeugTyp" th:value="${k.fahrzeugTyp}" class="form-control" >
                    <input type="hidden"  name="id" th:value="${k.id}" class="form-control" >
                    <button type="submit" class="btn btn-danger p-1 m-0">Löschen</button>
                </form>
            </div>
        </div>
    </div>

<th:block th:replace="fragments.html :: foot"></th:block>

</body>
</html>