<!DOCTYPE html>
<html lang="de" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments.html :: head('Neues Fahrzeug')"></head>

<body>

  <nav th:replace="fragments.html :: mainNav"></nav>
  <th:block th:replace="fragments.html :: baustelle"></th:block>

  <script>
    function myFunction() {

    var letztewartungkmEingabe = document.getElementById("letztewartungkm").value;
    var intervallEingabe = document.getElementById("wartungsinterval").value;
    var datumwartungEingabe = document.getElementById("letztewartungdatum").value;
    var kmstandEingabe = document.getElementById("kmstand").value;
    var texterrorkmletztewartung = "";
    var texterrorinterv = "";
    var texterrordatumwartung = "";
    var texterrorkmstand = "";
    if (letztewartungkmEingabe < 1  ||  intervallEingabe < 1 || datumwartungEingabe == "" || kmstandEingabe < 1) {
        event.preventDefault();

        if (letztewartungkmEingabe < 1) {
            texterrorkmletztewartung = "Bitte Kilometerstand als Ganzzahl eingeben";
        }
        if (intervallEingabe < 1) {
            texterrorinterv = "Das Wartungsintervall muss zwischen 1 und 4 Jahren liegen";
        }
        if (datumwartungEingabe == "") {
            texterrordatumwartung = "Bitte geben Sie Datum von der letzten Wartung ein";
        }
        if (kmstandEingabe < 1) {
            texterrorkmstand = "Bitte geben Sie aktuelle Km-Stand ein";
        }
    } else {
        return true;
    }

    document.getElementById("errorkmletztewartung").innerHTML = texterrorkmletztewartung;
    document.getElementById("errorinterv").innerHTML = texterrorinterv;
    document.getElementById("errordatumwartung").innerHTML = texterrordatumwartung;
    document.getElementById("errorkmstand").innerHTML = texterrorkmstand;

}

    </script>

  <main class="container mt-4">
    <div class="row">
      <div class="col-md-8 col-lg-6 pt-3">

        <h3>Neues Fahrzeug anlegen</h3>

        <form action="/kfz/saveKfz" onsubmit="myFunction()" enctype="json" method="post">

            <div class="mb-3">
                <label for="fahrzeugTyp" class="form-label">Fahrzeugtyp</label>
                <select name="fahrzeugTyp" id="fahrzeugTyp" class="form-select">
                    <option value="PKW">PKW</option>
                    <option value="LKW">LKW</option>
                    <!--<option value="ANHAENGER">Anhänger</option>-->
                </select>
            </div>

            <div class="mb-3">
                <label for="marke" class="form-label">Marke</label>
                <input type="text" id="marke" name="marke" class="form-control" >
            </div>

            <div class="mb-3">
                <label for="kennzeichen" class="form-label">Kennzeichen</label>
                <input type="text" id="kennzeichen" name="kennzeichen" class="form-control">
            </div>

            <div class="mb-3">
                <label for="kmstand" class="form-label">aktuelle Kilometerstand:</label>
                <input type="number" id="kmstand" name="kmstand" class="form-control">
                <span id="errorkmstand" style="font-size: 0.8rem; color:red;"></span>
            </div>



            <div class="container mb-3">

                <div class="row p-0">Wartung / Inspektion
                </div>
                <div class="row border ps-0 pb-1 fs-10">
                    <div class="col-4 mb-0 pb-0">
                        <label for="letztewartungdatum" class="form-label">letzte Wartung:</label>
                        <input type="date" id="letztewartungdatum" name="letztewartungdatum" class="form-control">
                        <span id="errordatumwartung" style="font-size: 0.8rem; color:red;"></span>
                    </div>
                    <div class="col-4 ms-0 pe-0">
                        <label for="letztewartungkm" class="form-label">durchgeführt bei (km):</label>
                        <input type="number" id="letztewartungkm" name="letztewartungkm" class="form-control">
                        <span id="errorkmletztewartung" style="font-size: 0.8rem; color:red;"></span>
                    </div>
                    <div class="col-4 ms-0">
                        <label for="wartungsinterval" class="form-label">Intervall (in Jahren):</label>
                        <input type="number" id="wartungsinterval" name="wartungsinterval" class="form-control" style="width:55%;">
                        <span id="errorinterv" style="font-size: 0.8rem; color:red;"></span>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="status" class="form-label">Fahrz Status</label>
                <select name="status" id="status" class="form-select">
                    <option value="UNBEKANNT">Unbekannt</option>
                    <option value="FREI">Frei</option>
                    <option value="GESPERRT">Gesperrt</option>
                    <option value="VERLIEHEN">Verliehen</option>
                    <option value="DEFEKT">Defekt</option>
                </select>
            </div>


            <button id="submit-btn" type="submit" class="btn btn-success mt-4">Speichern</button>

        </form>

      </div>
    </div>

  </main>



  <th:block th:replace="fragments.html :: foot"></th:block>
</body>
</html>