<!DOCTYPE html>
<html lang="de" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments.html :: head('Neue Fahrer')"></head>

<body>

  <nav th:replace="fragments.html :: mainNav"></nav>
  <th:block th:replace="fragments.html :: baustelle"></th:block>

  <main class="container mt-4">
    <div class="row">
      <div class="col-md-8 col-lg-6 pt-3">

        <h3>Einen neuen Fahrer anlegen</h3>

        <form action="/saveFahrer" enctype="json" method="post">

            <div class="mb-3">
                <label for="anrede" class="form-label">Anrede</label>
                <select name="anrede" id="anrede" class="form-select">
                    <option value="HERR">Herr</option>
                    <option value="FRAU">Frau</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="vorname" class="form-label">Vorname</label>
                <input type="text" id="vorname" name="vorname" class="form-control" >
            </div>

            <div class="mb-3">
                <label for="nachname" class="form-label">Nachname</label>
                <input type="text" id="nachname" name="nachname" class="form-control">
            </div>

            <button type="submit" class="btn btn-success">Speichern</button>

        </form>

      </div>
    </div>

      <div class="container mt-5" th:if="${neueFahrer}">

          <h5>Fahrer angelegt:</h5>

          <table class="table table-striped">
              <thead>
              <tr>
                  <th>Anrede</th>
                  <th>Vorname</th>
                  <th>Nachname</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="f : ${neueFahrer}">
                  <td th:text="${f.anrede}"></td>
                  <td th:text="${f.vorname}"></td>
                  <td th:text="${f.nachname}"></td>
              </tr>
              </tbody>
          </table>

      </div>
  </main>

  <th:block th:replace="fragments.html :: foot"></th:block>
</body>
</html>